<div class="tweet zero_box_red" id={{id}}>
  <div class="tweet_pic">
    <image src={{profile_image}}>  
  </div>
  <div class="tweet_content">
    <p class="username"><b>{{user}}</b></p>
    <p class="handle">@{{screen_name}}</p> 
    <p class="tweet_text">{{text}}</p>
    {{#if media}}
      <img src={{media}}>
    {{/if}}
  </div>
  <div class="tweet_controls">
    <button class="destroy" id={{id}}>DESTROY</button>
  </div>
</div>
